<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note List</title>
  </head>
  <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: khaki;
    }
    li{
      float: left;
    }
    li a {
      display: block;
      padding: 12px;
      text-decoration: none;
    }
    h1 {
      text-align: center;
      font-size: 32px;
    }
    .cards {
      display: flex;
      grid-auto-flow: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    .card {
      flex: 0 0 200px;
      min-height: 320px;
      border: solid black 1px;
      padding: 10px;
      margin: 4px;
      background-color:beige;
    }
    .card h4 {
      text-align: center;
      font-size: 20px;
    }
  </style>
  <body style="padding: 6px;">
    <ul>
      <li><a href="/lab-4/add-note">Add another note</a></li>
      <li><a href="/lab-4/">Show notes in table format</a></li>
    </ul>
    <h1>Notes List</h1>
    <div class="cards">
      {% for note in notes %}
      <div class="card">
        <h4>{{ note.title }}</h4>
        <p>To: {{ note.to }}</p>
        <p>From: {{ note.fromm }}</p>
        <p>{{ note.message }}</p>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
