<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note List</title>
  </head>
  <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: khaki;
    }
    li{
      float: left;
    }
    li a {
      display: block;
      padding: 12px;
      text-decoration: none;
    }
    h1 {
    text-align: center;
    font-size: 32px;
    }
    table, th, td {
      border: 1px solid black;
      /* border: 1px solid black !important; */
    }
    table {
      border-collapse: collapse;
      margin-top: 6px;
    }
    th, td {
      padding: 4px;
    }
    th {
      min-width: 100px;
      background-color: beige;
    }
  </style>
  <body style="padding: 6px;">
    <ul>
      <li><a href="/lab-4/add-note">Add another note</a></li>
      <li><a href="/lab-4/note-list">Show notes in card format</a></li>
    </ul>
    <h1>Notes List</h1>
    <table>
      <tr>
        <th>To :</th>
        <th>From :</th>
        <th>Title :</th>
        <th>Message :</th>
      </tr>
      {% for note in notes %}
      <tr>
        <td>{{ note.to }}</td>
        <td>{{ note.fromm }}</td>
        <td>{{ note.title }}</td>
        <td>{{ note.message }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
