<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Note Form</title>
    </head>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: khaki;
        }
        li{
            float: left;
        }
        li a {
            display: block;
            padding: 12px;
            text-decoration: none;
        }
        h1 {
            text-align: center;
            font-size: 32px;
        }
        form {
            margin-top: 6px;
        }
        
    </style>
    <body style="padding: 6px;">
        <ul>
            <li><a href="/lab-4/">Show notes in table format</a></li>
            <li><a href="/lab-4/note-list">Show notes in card format</a></li>
        </ul>
        <h1>Add Note</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <table>
                <colgroup>
                    <col span="2">
                </colgroup>
                {% for field in form %}
                <tr>
                    <td>{{field.label}}</td>
                    <td>{{field}}</td>
                </tr>
                {% endfor %}
            </table>
            
            <input type="submit" value="Submit" style="margin-top: 6px;">
        </form>
    </body>
</html>