<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Friend Form</title>
    </head>
    <body>
        <form action="" method="POST">
            {% csrf_token %}
            <!-- <label>Nama : {{form.name}}</label>
            <br/>
            <label>NPM : {{form.npm}}</label>
            <br/>
            <label>Tanggal lahir : {{form.dob}}</label>
            <br/> -->
            <!-- {{form}} -->
            {% for field in form %}
            {{field}}
            <br/>
            {% endfor %}
            <input type="submit" value="Submit">
        </form>
    </body>
</html>