<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table border="4">
      <colgroup>
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
      </colgroup>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      {% for friend in friends %}
      <tr>
        <td style="height: 30px;">{{ friend.name }}</td>
        <td style="height: 30px;">{{ friend.npm }}</td>
        <td style="height: 30px;">{{ friend.dob }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
