<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <title>Notes</title>
</head>
<body>
    <table>
        <tr>
            <th>To</th>
            <th>From</th>
            <th>Title</th>
            <th>Message</th>
          </tr>
          {% for note in notes %}
          <tr>
            <td>{{ note.to }}</td>
            <td>{{ note.fromm }}</td>
            <td>{{ note.title }}</td>
            <td>
              <p>{{ note.message }}</p>
            </td>
          </tr>
          {% endfor %}
    </table>
</body>